// variant
.v-input--density-default,
.v-field--variant-solo,
.v-field--variant-filled {
    --v-input-control-height: 51px;
    --v-input-padding-top: 14px;
}

// comfortable
.v-input--density-comfortable {
    --v-input-control-height: 44px;
}

// compact
.v-input--density-compact {
    --v-input-padding-top: 10px;
}
.v-label {
    font-size: 0.875rem;
    opacity: 1;
}
.v-switch .v-label,
.v-checkbox .v-label {
    opacity: 1;
}

.v-text-field__suffix {
    opacity: 1;
    padding-left: 20px;
}

.shadow-none .v-field--variant-solo {
    box-shadow: none !important;
}


.v-field--variant-outlined .v-field__outline__start.v-locale--is-ltr,
.v-locale--is-ltr .v-field--variant-outlined .v-field__outline__start {
    border-radius: $border-radius-root 0 0 $border-radius-root;
}

.v-field--variant-outlined .v-field__outline__end.v-locale--is-ltr,
.v-locale--is-ltr .v-field--variant-outlined .v-field__outline__end {
    border-radius: 0 $border-radius-root $border-radius-root 0;
}

.v-field-rounded-pill {

    .v-field--variant-outlined .v-field__outline__start.v-locale--is-ltr,
    .v-locale--is-ltr .v-field--variant-outlined .v-field__outline__start {
        border-radius: $border-radius-root + 4px 0 0 $border-radius-root + 4px;
    }

    .v-field--variant-outlined .v-field__outline__end.v-locale--is-ltr,
    .v-locale--is-ltr .v-field--variant-outlined .v-field__outline__end {
        border-radius: 0 $border-radius-root + 4px $border-radius-root + 4px 0;
    }
}


.v-field {
    font-size: 14px !important;
    color: rgba(var(--v-theme-textPrimary));
}
.v-text-field input {
    font-size: .875rem;
}

// select outlined
.v-field--variant-outlined .v-field__outline__start,
.v-field--variant-outlined .v-field__outline__notch::before,
.v-field--variant-outlined .v-field__outline__notch::after,
.v-field--variant-outlined .v-field__outline__end {
    opacity: 1;
}

.v-select {

    .v-field--variant-solo,
    .v-field--variant-solo-filled {
        box-shadow: none !important;

        .v-field__input {
            padding-top: 7px;
            min-height: 40px;
        }
    }
}

.v-label{
    color: rgba(var(--v-theme-textPrimary)) !important;
}

.v-field.v-field--active .v-label.v-field-label--floating{
    color: rgba(var(--v-theme-textPrimary),0.6) !important;
}